<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8">
    <title>Plantr</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Yellowtail" rel="stylesheet">
    <link rel="stylesheet" href="./style.css">
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <style>
        
        body {
            padding-top: 80px;
        }

        h1 {
            padding: 30px;
            font-size: 50px;
        }

        .jumbotron {
            width: 100%;
        }

        .jumbotron>hr {
            border-top-color: rgb(157, 227, 175);
            width: 75%;
        }
        
        .btn-css {
            position: relative;
            display: inline-block;
            float: auto;
            width: 30%;
            height: auto;
            font-size: 80%;
            padding: 15px;
            margin:1%;
        }

        .fa {
            padding: 0;
            padding-right: 5px;
        }
        @media screen and (max-width:767px) {
            .jumbotron>hr {
                width: 100%;
            }
        
            .btn-css {
                width: 100%;
                font-size: 70%;
                padding: 5px;
            }
        }

    </style>
</head>


<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1>Plantr<span class="fa fa-leaf fa"></span></h1>
            <a href="/login" class="btn btn-success btn-css"><span class="fa fa-pagelines"></span> Login</a>
            <a href="/signup" class="btn btn-success btn-css"><span class="fa fa-user"></span> Signup </a>
            <hr>
            <h4>Or Connect With:</h4>
            <a href="/auth/twitter" class="btn btn-info btn-css social-btn"><span class="fa fa-twitter"></span>Twitter</a>
            <a href="/auth/google" class="btn btn-danger btn-css social-btn"><span class="fa fa-google-plus"></span>Google+</a>
            </div>
       </div>
</body>

</html>