
/*GENERAL*/

body {
  font-family: 'Lato', sans-serif!important; 
  background-color: #e8fff2;
  color: #18bc9c;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container-fluid {
  padding: 0 10px!important;
  margin-top: 30px!important;
}

.jumbotron {
  background-color: transparent;
}
.row {
  margin-left: 0;
  margin-right: 0;
}

.col-xs-12 {
  padding-left: 0;
  padding-right: 0;
}

#wrap {
  flex: 1!important;
  height: 90vh!important;
}

.fa-github-alt {
  display: inline-block!important;
}

h1 {
  font-family: 'Yellowtail', cursive;
  font-size: 44px;

}

h2 {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 15px;
}

a:hover, a:focus {
  text-decoration: none;
}

a:focus {
    outline: none;
}

span > i {
  padding-right: 5px!important;
}

.panel {
  margin-bottom: 0px!important;
  box-shadow: none!important;
  border: none;
  border-radius: 2px!important;
}

.fa {
  padding: 10px!important;
}

.modal-button {
  display: block;
  margin: 20px auto 0 auto;
  width: 50%;
}

.modal-close {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
}

.modal-button {
  display: block;
  margin: 20px auto 0 auto;
  width: 50%;
}

.modal-close {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
}

/*FOOTER CSS*/
footer {
  height: 5vh!important;
  margin-top: 5vh!important;
}

.fa-github-alt {
  display: inline-block!important;
}

/*Icon Hover Effects*/
.hvr-bounce-in {
  display: inline-block !important;
  vertical-align: middle !important;
  -webkit-transform: perspective(1px) translateZ(0) !important;
  transform: perspective(1px) translateZ(0)!important;
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.5s!important;
  transition-duration: 0.5s!important;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.2)!important;
  transform: scale(1.2)!important;
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36)!important;
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36)!important;
}

/*Reminders*/
.reminder-img {
  position: relative!important;
  width: 35px!important;
  height: auto!important;
  top: 2px!important;
  left: 2px!important;
}

.calendar-panel {
  height: 75px!important;
  overflow: hidden!important;
  border: 2px solid #18bc9c!important;
  margin: 5px 2px!important;
  padding: 2px!important;
}

.calendar {
  position: relative!important;
  display: inline-block!important;
  width: 13.6%!important;
  margin-right: 2px!important;
  border-right: none!important;
}

.calendar:last-of_type {
  margin-right: 0!important;
}

#calendar-wrap {
  margin: 0 auto!important;
  min-height: 70vh!important;
}

.calendar-day {
  margin-bottom: 0!important;
  margin-top: 0!important;
  padding: 10px;
  background-color: #18bc9c!important;
  color: #fff!important;
  /*border-radius: 2px;*/
}

.calendar-body {
  padding: 0!important;
}

.calendar-body {
  font-size: 12px!important;
  overflow: hidden!important;
}

.reminder-date {
  padding: 2px!important;
}

.reminder-type {
  position: relative!important;
  display: block!important;
  margin: 0 auto!important;
  text-align: center!important;
}

/*Plants Page*/
.panel-collapse {
  height: 0px!important;
  font-size: 12px!important;
}

.plant-panel, .panel-group {
  margin-bottom: 0px!important;
}

.plant-panel {
  position: relative!important;
  float: left!important;
  margin: 10px!important;
  width: 30%!important;
  height: auto!important;
  overflow: hidden!important;
}

.plant-panel-body {
  padding: 0!important;
  margin: 0!important;
  width: 250px!important;
  height: 250px!important;
}

.plantpg-name, .fa-minus-square {
  position: absolute!important;
  z-index: 100!important;
  top: 5px!important;
}

.plantpg-name {
  left: 5px!important;
  color: white!important;
}
.fa-minus-square {
  cursor: pointer!important;
  right: 5px!important;
  color: #ff3f3f!important;
}

.plantpg-img {
  position: relative!important;
  height: auto!important;
  width: 350px!important;
  cursor: pointer!important;
}


.plantpg-img:hover {
  cursor: pointer!important;
}

/*FORMS*/
.weekdays-selector input {
  display: none!important;
}

.weekdays-selector > [type=checkbox] + label {
  display: inline-block;
  border-radius: 6px;
  background: #dddddd;
  height: 40px;
  width: 50px;
  margin-right: 3px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.weekdays-selector >[type=checkbox]:checked + label {
  background: #18bc9c;
  color: #ffffff;
}

.form-control, input {
  border-width: 0px;
  border: 1px solid rgba(24, 188, 156, 0.41);
}

.form-control:focus {
  border: 1px solid #18bc9c;
}

.btn-default {
  background-color: #18bc9c;
  border-color: #18bc9c;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

.col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding-right: 0;
  padding-left: 0;
}

label {
  width: 100%;
  padding: 5px;
}

#weekday-wrap {
  display: flex!important;
  justify-content: space-between!important;
}

/*PLANT PROFILE*/
#profile-img {
  width: 100%!important;
}

.text-muted {
  color: #74958e;
  text-align: center!important;
  display: block!important;
}

#main-prof-panel, #care-prof-panel, #reminder-prof-panel, #rating-panel {
  margin: 15px!important;
}

/*MEDIA QUERY*/

@media screen and (max-width:767px) {
  
  div#nav-column {
    display: flex!important;
    justify-content: space-around!important;
    margin-bottom: 5px!important;
  }

  .hvr-bounce-in {
    width: 10%!important;
    float: left!important;
    padding: 0!important;
  }

  h1 {
    text-align: center;
  }

  h2 {
    font-size: 20px;
  }

  .calendar {
    width: 100%!important;
    margin-right: 0px!important;
  }

  .calendar-panel {
    height: 50px!important;
    margin-top: 0!important;
    border: 0.5px solid rgba(24, 188, 156, 0.19)!important;
    border-bottom: none!important;
  }

  .reminder-type {
    float: none!important;
    position: relative!important;
    text-align: center!important;
    bottom: 20px!important;
    font-size: 16px!important;
  }

  .calendar-day {
    margin-top: 15px!important;
  }

  .fa-github-alt {
    float: none!important;
  }

 .plant-panel {
    width: 45% !important;
}

  .jumbotron>hr {
    width: 100%;
  }
        
  .btn-css {
    width: 100%;
    font-size: 70%;
    padding: 5px;
  }
}




